
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(3, 25, 48);
}

.box{
    height: 80px;
    display: flex;
    gap: 55px;
}

.box .brand{
    width: 300px;
    height: 60px;

}

.brand .name{
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-left: 150px;

}

.box .home{
    width: 500px;
    height: 60px;

}

.box .home ul{
    display: flex;
    list-style: none;
    align-items: center;
    height: 90px;

}

.box .home li{
    font-size: 15px;
    margin-left: 30px;

}

.box .home a{
    text-decoration: none;
    color: white;
}

.box .login{
    width: 140px;
    height: 60px;
    margin-left: 40px;
    padding-top:36px;

}


.box .login a{
    text-decoration: none;
    color: white;
    margin-left: 100px;


}

.box .join{
    width: 350px;
    height: 60px;

}



.join button{
    background-color: #43a1ee;
  border: none;
  color: white;
  padding: 18px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 20px 3px;
  cursor: pointer;
  border-radius: 8px;
}

.join i{

    font-size: 10px;
    margin-left: 10px;
}


.welcome{
    height: 100px;

}
 .welcome h4{
    color: #43a1ee;
    text-align: center;
    padding: 60px;
 }

 .selling{
    height: 100px;

 }

 .selling h1{
    color: white;
    text-align: center;
    padding: 10px;
 }

 .we{
    height: 50px;

 }
 .we p{
    color: white;
    text-align: center;
    padding: 7px;
 }

 .get{
    height: 60px;


 }

 .get button {
    border-radius: 5px;
    padding: 14px 34px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-color: #43a1ee;

  }

  .get .button1 {
    color: white;
    background-color: #40acf0;
    border: 2px solid #40acf0;
    margin-left: 610px;
    margin-top: 10px;
  }

  .get .button1:hover {
    background-color: #0887d5;
    color: white;
  }

  .get .button2 {
    background-color: rgb(3, 25, 48);
    color:  #0887d5;
    border: 3px solid #008CBA;
    margin-top: 10px;
  }

  .get .button2:hover {
    background-color: #008CBA;
    color: white;
  }

  .items{
    height: 330px;
    display: flex;
    gap: 30px;
    margin-top: 50px;

  }

  .items .item1{
    width: 280px;
    height:230px;
    background-color: aliceblue;
    margin-left: 320px;

  }

  .items .item1 .icon1{
    width: 60px;
    height: 60px;
    background-color: rgb(248, 216, 178);
    margin-left: 30px;
    margin-top: 35px;
    border-radius: 5px;
    
  }

  .items .item1 .icon1 i{
    font-size: 22px;
    padding-left: 20px;
    padding-top: 20px;
    color: rgb(242, 141, 18);

  }

  .items .item1 .icon1{
    text-decoration: none;
  }

  .items .item1 .training{
    width: 150px;
    height: 40px;
    
    
  }

  .items .item1 .training h4{
    text-align: center;
    font-size: 13px;
    padding-top: 15px;
    padding-left: 5px;
  }

  .items .line1{
    width: 38px;
    height: 2px;
    background-color: chocolate;
    margin-left: 30px;

  }

  .items .text1{
    height: 100px;
    font-size: 12px;
    
    
  }

  .items .text1 p{
    margin-left: 30px;
    margin-top: 20px;
    
    
  }



  .items .item2{
    width: 280px;
    height: 230px;
    background-color: rgb(230, 236, 241);
  }

  
  .items .item2 .icon2{
    width: 60px;
    height: 60px;
    background-color: rgb(122, 244, 122);
    margin-left: 30px;
    margin-top: 35px;
    border-radius: 5px;
    
  }

  .items .item2 .icon2 i{
    font-size: 22px;
    padding-left: 20px;
    padding-top: 20px;
    color: rgb(5, 82, 15);

  }

  .items .item2 .icon2{
    text-decoration: none;
  }

  .items .item2 .online{
    width: 150px;
    height: 40px;
    
    
  }

  .items .item2 .online h4{
    text-align: center;
    font-size: 13px;
    padding-top: 15px;
    padding-left: 15px;
  }

  .items .line2{
    width: 38px;
    height: 2px;
    background-color: chocolate;
    margin-left: 30px;

  }

  .items .text2{
    height: 100px;
    font-size: 13px;
    
    
  }

  .items .text2 p{
    margin-left: 30px;
    margin-top: 20px;
    
    
  }

  .items .item3{
    width: 280px;
    height: 230px;
    background-color: rgb(68, 153, 228);
  }

  .items .item3 .icon3{
    width: 60px;
    height: 60px;
    background-color: white;
    margin-left: 30px;
    margin-top: 35px;
    border-radius: 5px;
    
  }

  .items .item3 .icon3 i{
    font-size: 22px;
    padding-left: 20px;
    padding-top: 20px;
    color: rgb(22, 208, 225);

  }

  .items .item3 .icon3{
    text-decoration: none;
  }

  .items .item3 .courses{
    width: 150px;
    height: 40px;
    
    
  }

  .items .item3 .courses h4{
    text-align: center;
    font-size: 13px;
    padding-top: 15px;
    padding-left: 3px;
    color: white;
  }

  .items .line3{
    width: 38px;
    height: 2px;
    background-color: white;
    margin-left: 30px;

  }

  .items .text3{
    height: 100px;
    font-size: 13px;
    color: white;
    
    
  }

  .items .text3 p{
    margin-left: 30px;
    margin-top: 20px;
    
    
  }





